/* shared class */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Bebas Neue", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
}
/* header section style */
header {
  width: 100%;
  /* height: 150vh; */
}
/* nav section style */

.logo-pic {
  width: 200px;
}
.nav-container {
  /* margin: 0px 135px; */
  padding: 30px 135px 0px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 30px; */
  background-color: rgba(234, 197, 88, 0.1);
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 5px; */
}
.nav-bar button {
  width: 120px;
  /* padding: 5px 5px; */
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-radius: 8px;
}
.nav-bar a {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}
.nav-bar button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

/* banner section style */
.banner {
  padding: 10px 135px 80px 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  /* padding-top: 30px; */
  background-color: rgba(234, 197, 88, 0.1);
}
.banner-description {
  /* width: 20rem; */
  width: 400px;
  /* border: 2px solid red; */
}
.banner-title {
  text-align: left;
  color: #fabe4c;
  font-family: Bebas Neue;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bnr-des-p {
  /* text-align: left; */
  color: #3e3e3e;
  /* font-family: Bebas Neue; */
  /* width: 280px; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  margin: 15px 0px;
  /* border: 2px solid green; */

  /* line-height: 26px; 162.5% */
}
.btn-primary {
  /* margin-top: 15px; */
  width: 130px;
  height: 40px;
  border-radius: 10px;
  background: linear-gradient(180deg, #a4bc46 0%, #85a019 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.banner-img img {
  width: 70%;
}

/* main section styles */
main {
  /* padding: 10px 135px; */
  width: 80vw;
  margin: auto;
  /* border: 2px solid red; */
}
.title-div{
  text-align: left;
}

.type-title {
  color: #363958;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  font-family: Bebas Neue;
}
.jecket-category {
  margin: 30px 0px;
}
.jackets-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.3);
}
.card-img {
  text-align: center;
  margin-bottom: 15px;
}
.card-img img {
  width: 20vw;
  height: 100px;
  height: auto;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
}

.carting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: 0px;

  /* border: 2px solid blue; */
}
.prod-name{
  /* font-size: px; */
}
.prod-desc {
  width: 250px;
  color: #3e3e3e;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 10px 0px;
}
.price {
  color: #fabe4c;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
